.symmetry-child15 {
  width: 16px;
  position: relative;
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 982px;
}
.symmetry2 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 1312px;
  height: 982px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-127xl);
}
.doodle-child8 {
  position: absolute;
  top: 17.5px;
  left: 834px;
  width: 608.3px;
  height: 415.7px;
}
.doodle-child10,
.doodle-child9 {
  position: absolute;
  top: 88.4px;
  left: 856.5px;
  width: 536.2px;
  height: 345.4px;
}
.doodle-child10 {
  top: 300.2px;
  left: 511.1px;
  width: 92.5px;
  height: 80.6px;
  object-fit: contain;
}
.doodle-child11 {
  position: absolute;
  top: 311.8px;
  left: 529px;
  border-radius: 50%;
  border: 3px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 59px;
  height: 57px;
}
.doodle-child12 {
  position: absolute;
  top: 125.9px;
  left: 677px;
  width: 67px;
  height: 67px;
}
.div11,
.div12,
.div13,
.div14 {
  position: absolute;
  top: 76.6px;
  left: 491.2px;
  letter-spacing: 0.11em;
  display: flex;
  align-items: center;
  width: 97px;
  height: 95px;
  transform: rotate(-25.58deg);
  transform-origin: 0 0;
}
.div12,
.div13,
.div14 {
  top: 176.9px;
  left: 438.8px;
  width: 36px;
  height: 27px;
  transform: rotate(25.96deg);
}
.div13,
.div14 {
  top: 0;
  left: 63.3px;
  font-size: var(--font-size-161xl);
  line-height: 130.56%;
  width: 108px;
  height: 144.6px;
  transform: rotate(25.97deg);
}
.div14 {
  top: 48.2px;
  left: 351.1px;
  font-size: var(--font-size-53xl);
  width: 72px;
  height: 69.8px;
  transform: rotate(-2.88deg);
}
.doodle-child13,
.doodle-child14,
.doodle2 {
  position: absolute;
  top: 545.4px;
  left: 40px;
  width: 1509px;
  height: 300.1px;
}
.doodle-child14,
.doodle2 {
  top: 604.6px;
  height: 242.4px;
}
.doodle2 {
  top: 135px;
  left: -37px;
  width: 1549px;
  height: 847px;
}
.forgot-password-child {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-cornflowerblue);
  width: 650px;
  height: 982px;
}
.forgot-password-item {
  position: absolute;
  top: -441px;
  left: -417px;
  border-radius: 50%;
  background: linear-gradient(136.59deg, #ffe600, rgba(255, 230, 0, 0));
  filter: blur(132.4px);
  width: 817px;
  height: 866px;
}
.cloud-icon3,
.cloud-icon4,
.cloud-icon5 {
  position: absolute;
  top: 687px;
  left: 35px;
  width: 290px;
  height: 139px;
  object-fit: cover;
}
.cloud-icon4,
.cloud-icon5 {
  top: 782px;
  left: 265px;
  width: 701px;
  height: 276px;
}
.cloud-icon5 {
  top: 433px;
  left: 276px;
  width: 290px;
  height: 139px;
}
.forgot-password-inner,
.parachute-icon1 {
  position: absolute;
  top: 536px;
  left: 390px;
  width: 142.1px;
  height: 149.6px;
  object-fit: cover;
}
.parachute-icon1 {
  top: -79px;
  left: 221.9px;
  width: 478.2px;
  height: 670px;
}
.dont-remember {
  margin-block-start: 0;
  margin-block-end: 8.54px;
}
.the-password {
  margin: 0;
}
.dont-remember-the-container1 {
  width: 100%;
}
.dont-remember-the-container,
.username {
  position: absolute;
  letter-spacing: 0.07em;
  color: var(--color-white);
  display: flex;
  align-items: center;
}
.dont-remember-the-container {
  top: 0;
  left: 0;
  font-size: var(--font-size-25xl);
  width: 399px;
  height: 120px;
}
.username {
  top: 275.2px;
  left: 7px;
  width: 158.4px;
  height: 49.3px;
}
.div15,
.mathametics {
  font-size: var(--font-size-mid-6);
}
.mathametics {
  position: absolute;
  top: 317.7px;
  left: 7px;
  letter-spacing: 0.07em;
  display: flex;
  align-items: center;
  width: 253px;
  height: 49px;
}
.div15 {
  top: 434.6px;
  left: 8.6px;
  width: 253.4px;
  height: 49.3px;
}
.div15,
.dont-worry-we,
.its-top-secret,
.password {
  position: absolute;
  letter-spacing: 0.07em;
  display: flex;
  align-items: center;
}
.password {
  top: 394.3px;
  left: 7px;
  color: var(--color-white);
  width: 158.4px;
  height: 49.3px;
}
.dont-worry-we,
.its-top-secret {
  top: 113px;
  left: 1px;
  width: 414.5px;
  height: 53.7px;
}
.its-top-secret {
  top: 191px;
}
.login-text1 {
  position: absolute;
  top: 101px;
  left: 835px;
  width: 415.5px;
  height: 483.9px;
  font-size: var(--font-size-2xl-1);
  color: var(--color-gray-100);
  font-family: var(--font-arimo);
}
.sign-in2 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.07em;
  font-family: var(--font-nico-moji);
  color: var(--color-white);
  text-align: left;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-18xl);
  background-color: var(--color-orangered);
  position: absolute;
  top: 711px;
  left: 884px;
  border-radius: var(--br-21xl);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button2:hover {
  background-color: var(--color-gold-100);
}
.button2:active {
  background-color: var(--color-limegreen);
}
.forgot-password1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslateblue-200);
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-sarabun);
}
