.symmetry-child24 {
  width: 16px;
  position: relative;
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 982px;
}
.symmetry3 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 1312px;
  height: 982px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-127xl);
}
.doodle-child15 {
  position: absolute;
  top: 17.5px;
  left: 834px;
  width: 608.3px;
  height: 415.7px;
}
.doodle-child16,
.doodle-child17 {
  position: absolute;
  top: 88.4px;
  left: 856.5px;
  width: 536.2px;
  height: 345.4px;
}
.doodle-child17 {
  top: 300.2px;
  left: 511.1px;
  width: 92.5px;
  height: 80.6px;
  object-fit: contain;
}
.doodle-child18 {
  position: absolute;
  top: 311.8px;
  left: 529px;
  border-radius: 50%;
  border: 3px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 59px;
  height: 57px;
}
.doodle-child19 {
  position: absolute;
  top: 125.9px;
  left: 677px;
  width: 67px;
  height: 67px;
}
.div16,
.div17,
.div18,
.div19 {
  position: absolute;
  top: 76.6px;
  left: 491.2px;
  letter-spacing: 0.11em;
  display: flex;
  align-items: center;
  width: 97px;
  height: 95px;
  transform: rotate(-25.58deg);
  transform-origin: 0 0;
}
.div17,
.div18,
.div19 {
  top: 176.9px;
  left: 438.8px;
  width: 36px;
  height: 27px;
  transform: rotate(25.96deg);
}
.div18,
.div19 {
  top: 0;
  left: 63.3px;
  font-size: var(--font-size-161xl);
  line-height: 130.56%;
  width: 108px;
  height: 144.6px;
  transform: rotate(25.97deg);
}
.div19 {
  top: 48.2px;
  left: 351.1px;
  font-size: var(--font-size-53xl);
  width: 72px;
  height: 69.8px;
  transform: rotate(-2.88deg);
}
.doodle-child20,
.doodle-child21,
.doodle3 {
  position: absolute;
  top: 545.4px;
  left: 40px;
  width: 1509px;
  height: 300.1px;
}
.doodle-child21,
.doodle3 {
  top: 604.6px;
  height: 242.4px;
}
.doodle3 {
  top: 135px;
  left: -37px;
  width: 1549px;
  height: 847px;
}
.incorrect-password-child {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-cornflowerblue);
  width: 650px;
  height: 982px;
}
.incorrect-password-item {
  position: absolute;
  top: -441px;
  left: -417px;
  border-radius: 50%;
  background: linear-gradient(136.59deg, #ffe600, rgba(255, 230, 0, 0));
  filter: blur(132.4px);
  width: 817px;
  height: 866px;
}
.cloud-icon6,
.cloud-icon7,
.cloud-icon8 {
  position: absolute;
  top: 687px;
  left: 35px;
  width: 290px;
  height: 139px;
  object-fit: cover;
}
.cloud-icon7,
.cloud-icon8 {
  top: 782px;
  left: 265px;
  width: 701px;
  height: 276px;
}
.cloud-icon8 {
  top: 433px;
  left: 276px;
  width: 290px;
  height: 139px;
}
.incorrect-password-inner,
.parachute-icon2 {
  position: absolute;
  top: 536px;
  left: 390px;
  width: 142.1px;
  height: 149.6px;
  object-fit: cover;
}
.parachute-icon2 {
  top: -79px;
  left: 221.9px;
  width: 478.2px;
  height: 670px;
}
.incorrect-username-or,
.oops {
  width: 729.3px;
  position: relative;
  letter-spacing: 0.07em;
  display: flex;
  align-items: center;
  height: 156px;
  flex-shrink: 0;
}
.incorrect-username-or {
  width: 538.8px;
  font-size: 27.5px;
  color: var(--color-gray-100);
  height: 69.8px;
  margin-top: -9px;
}
.login-text2 {
  position: absolute;
  top: 233px;
  left: 834.9px;
  width: 729.3px;
  height: 216.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 57.2px;
  color: var(--color-white);
  font-family: var(--font-arimo);
}
.incorrect-password {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslateblue-200);
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-sarabun);
}
