.symmetry-child114 {
  width: 16px;
  position: relative;
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 982px;
}
.symmetry13 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 1312px;
  height: 982px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-127xl);
}
.doodle-child69 {
  position: absolute;
  top: 17.5px;
  left: 834px;
  width: 608.3px;
  height: 416px;
}
.doodle-child70,
.doodle-child71 {
  position: absolute;
  top: 88.4px;
  left: 856.5px;
  width: 536.2px;
  height: 345.6px;
}
.doodle-child71 {
  top: 300.4px;
  left: 511.1px;
  width: 92.5px;
  height: 80.7px;
  object-fit: contain;
}
.doodle-child72 {
  position: absolute;
  top: 312px;
  left: 529px;
  border-radius: 50%;
  border: 3px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 59px;
  height: 57px;
}
.doodle-child73 {
  position: absolute;
  top: 126px;
  left: 677px;
  width: 67px;
  height: 67px;
}
.div84,
.div85,
.div86,
.div87 {
  position: absolute;
  top: 76.6px;
  left: 491.2px;
  letter-spacing: 0.11em;
  display: flex;
  align-items: center;
  width: 97px;
  height: 95px;
  transform: rotate(-25.59deg);
  transform-origin: 0 0;
}
.div85,
.div86,
.div87 {
  top: 177px;
  left: 438.8px;
  width: 36px;
  height: 27px;
  transform: rotate(25.97deg);
}
.div86,
.div87 {
  top: 0;
  left: 63.4px;
  font-size: var(--font-size-161xl);
  line-height: 130.56%;
  width: 108px;
  height: 144.7px;
}
.div87 {
  top: 48.3px;
  left: 351.1px;
  font-size: var(--font-size-53xl);
  width: 72px;
  height: 69.9px;
  transform: rotate(-2.88deg);
}
.doodle13 {
  position: absolute;
  top: 135px;
  left: -39px;
  width: 1442.3px;
  height: 434px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-sarabun);
}
.header-child26,
.header-child27,
.header-child28 {
  position: absolute;
  top: 7.8px;
  left: 17.7px;
  width: 35.8px;
  height: 51.9px;
  object-fit: contain;
}
.header-child27,
.header-child28 {
  top: 5.1px;
  left: 13.4px;
  width: 40.1px;
  height: 44.6px;
}
.header-child28 {
  top: 11.1px;
  left: 29px;
  width: 29.6px;
  height: 43.9px;
}
.numberparty9 {
  position: absolute;
  top: 12px;
  left: 68px;
  letter-spacing: 0.07em;
  display: flex;
  align-items: center;
  width: 351px;
  height: 48px;
}
.header9 {
  position: absolute;
  top: 46px;
  left: 98px;
  border-radius: var(--br-28xl);
  background-color: var(--color-darkslateblue-300);
  width: 1314px;
  height: 76px;
  font-size: var(--font-size-11xl);
}
.question-1-correct-child,
.question-1-correct-item {
  position: absolute;
  top: 680.7px;
  left: 1px;
  width: 1509px;
  height: 300.3px;
}
.question-1-correct-item {
  top: 740px;
  height: 242.5px;
}
.which-number-is1 {
  position: absolute;
  top: 204px;
  left: calc(50% - 573px);
  font-size: var(--font-size-24xl-9);
}
.user-xyz7 {
  position: absolute;
  top: 70px;
  left: 520px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.07em;
}
.div88,
.div89 {
  position: absolute;
  font-family: var(--font-helvetica);
  display: inline-block;
}
.div88 {
  top: 297px;
  left: 582px;
  font-size: var(--font-size-195xl-2);
  color: rgba(255, 255, 255, 0.48);
  width: 261px;
  height: 252.8px;
}
.div89 {
  top: 219px;
  left: 879px;
  font-size: 393.9px;
  color: var(--color-plum);
  width: 480px;
  height: 464.8px;
  text-shadow: 3px 0 0#fff, 0 3px 0#fff, -3px 0 0#fff, 0-3px 0#fff;
}
.correct2 {
  position: absolute;
  top: 390px;
  left: 153px;
  font-size: var(--font-size-42xl-3);
}
.sign-in12 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.07em;
  font-family: var(--font-nico-moji);
  color: var(--color-white);
  text-align: left;
}
.button14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-18xl);
  background-color: var(--color-orangered);
  position: absolute;
  top: 55px;
  left: 1227px;
  border-radius: var(--br-21xl);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button14:active {
  background-color: var(--color-limegreen);
}
.mascot-icon7,
.mascot-icon8 {
  position: absolute;
  top: 409px;
  left: 11px;
  width: 570.2px;
  height: 469.1px;
  object-fit: contain;
}
.mascot-icon8 {
  top: 745px;
  left: 431px;
  width: 192.1px;
  height: 189.1px;
}
.navigation-buttons-child7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.next5 {
  position: absolute;
  height: 27.31%;
  width: 45.81%;
  top: 46.76%;
  left: 36.31%;
  font-size: var(--font-size-24xl-2);
  letter-spacing: -0.03em;
  font-family: var(--font-nico-moji);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
}
.navigation-buttons9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 810px;
  left: 1023px;
  width: 286.4px;
  height: 172.8px;
}
.question-1-correct {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslateblue-200);
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-nico-moji);
}
